Q1.
A Database is an organized collection of data, so that it can be can be easily accessed and managed.
SQL=>
a.Stands for Structured Query Language.
b.Relational database management system (RDBMS)
c.Suitable for structured data with predefined schema
d.Data is stored in tables with columns and rows
e.Supports JOIN and complex queries
NOSQL=>
a.Stands for Not Only SQL
b.Non-relational database management system
c.Suitable for unstructured and semi-structured data
d.Data is stored in collections or documents
e.Does not support JOIN and complex queries

Q2.
Data definition laguage is subset of SQL. it is a language for describing data and its relationship in database
Create=> create table
CREATE TABLE Persons(PersonID int,LastName varchar(225),FirstName varchar(225), Address varchar(225),City varchar(225));
ALTER=>
ALTER table command adds,deletes,or modifies columns in a table
ALTER TABLE Customers
ADD Email varcar(225);
DROP=>
DROP TABLE command deletes a table in the database.
ALTER TABLE Customers
DROP COLUMN Email;
TRUNCATE=>
The TRUNCATE TABLE command deletes the data inside a table, but not the table itself.
TRUNCATE TABLE Categories;

Q3.
data manipulate language is a family of computer languages including commands permitting users to manupulates data in a database.
INSERT can also help with adding rows from one table into another table.
INSERT INTO tableName
(column1,column2,.....)
VALUES(value1,value2,.....)
UPDATE=>
Use it to change a column value for one or multiple rows.
UPDATE tableName
SET column1=value1, column2=value2,...
WHERE filterColumn=filterValue
DELETE=>
DELETE removes one or multiple rows from a table
DELETE tableName
WHERE  filterColumn=filterValue;

Q4.
The Data Query Language,s the group of commands responsible for querying data from a database.
The SELECT command is used to query or retrieve data from a table in the database. It is used to retrieve a subset of records from one or more tables. 
SELECT <column-list>FROM<table-name>;

Q5.
A primary key is the column or columns that contain values that uniquely identify each row in a table. A database table must have a primary key for Optim to insert, update,restore, or delete data from a database table. 

A foreign key is generally used to build a relationship between the two tables. The major purpose of the foreign key is to sustain data integrity between two separate instances of an entity

In [2]:
Q6.
first install SQL and then pip install mysql-connector-python
import mysql.connector
and then create connection

import mysql.connector
mydb= mysql.connector.connect(
    host="localhost",
    user="yourusername",
    password="your_password")
print(mydb)

Cursor is a Temporary Memory or Temporary Work Station. It is Allocated by Database Server at the Time of Performing DML(Data Manipulation Language) operations on the Table by the User. Cursors are used to store Database Tables.
execute- This method accepts a MySQL query as a parameter and executes the given query.

SyntaxError: invalid syntax (3502460491.py, line 1)

In [ ]:

from-choose and join tables to get base data
where- filterthe  base data
group- Aggregates the base data
having-filter the aggregated data
select- Return the final data
order by- Sorted the final data
limit- limits the returned data to a row count